
<% @articles.each do |article| %>
  <div class="mb-5">
    <h4><%= article.title %></h4>
    <h5 class="text-secondary"><%= article.created_at.strftime('%b %d,%Y') %></h5>
    <p>
      <%= article.body.truncate(100) %>
    </p>
    <p>
      <%= link_to "More detail", article_path(article), class: "text-dark" %>
    </p>
  </div>
<% end %>

